<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
     <div class="outer w-screen h-screen p-10 bg-zinc-900 text-white overflow-x-hidden">
        <div class="logout flex justify-end w-full">
            <a class="p-2 rounded-md bg-red-600" href="/logout">logout</a>
        </div>
      <h5 class="text-white mb-3">Share your thoughts with the world</h5>
      <form action="/edit/<%= post._id %>" method="post">
      <textarea name="content" class="p-3 h-32 w-9/12 bg-zinc-800  rounded-md outline-none resize-none"><%= post.content %></textarea>
      <input class="mt-2 p-3 block bg-blue-600 rounded-md" type="submit" value="Update" />
    </form>
     </div>
    
</body>
</html>